.game {
  position: relative;
}

.game-header {
  margin: 4px auto;
  text-align: center;
}

.game-content{
  display: grid;
  grid-template-columns: 1fr 512px 1fr;
  grid-template-areas: "statistics game settings";
}

@media screen and (max-width: 600px){
  .game-content{
    grid-template-columns: 1fr;
    grid-template-areas: "game";

  }

  .game-statistics, .game-settings {
    display: none;
  }
}

.game-area {
  grid-area: game;
  position: relative;
  width: 512px;
  height: 512px;
  outline: 2px solid #578a34;
  margin: auto;
}

.game-statistics {
  grid-area: statistics;
  text-align: right;
  padding-right: 8px;
}


.game-settings {
  grid-area: settings;
  padding-left: 8px;
}

.game-settings div,
.game-statistics div
{
  padding: 4px;
}

.game-footer {
  position: relative;
  padding-top: 8px;
  margin: 0px auto;
  width: 512px;
  height: 100px;
}

.game-background{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.game-background-cell {
   position: absolute;
   background-color: aquamarine;
   z-index: 1;
}

.game-background-cell--dark {
  background-color: #aad751;
}

.game-background-cell--light {
  background-color: #a2d149;
}

.snake-dot {
  position: absolute;
  z-index: 3;
}

.snake-food {
  position: absolute;
  z-index:2;
  filter: drop-shadow(2px 4px 3px rgba(0,0,0,0.7));
}

.game-gameover {
  position: absolute;
  margin: auto;
  width: 300px;
  height: 200px;
  background: aquamarine;
}

.game-toFullScreen{
  position: absolute;
  width: 32px;
  height: 32px;
  right: 8px;
  top: 8px;
  cursor: pointer;
  z-index: 5;
}